ultralytics

pyyaml
tqdm
numpy
easydict
scikit-image
scikit-learn
opencv-python
tensorflow
joblib
matplotlib
pandas
albumentations
hydra-core
pytorch-lightning==1.7.7
tabulate
kornia
webdataset
packaging